.mobile-bg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(black, #323f4b);
}
.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #bfdad3;
	margin: 5px 0;
	font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    background-color: #edf5f3;
    height: 400px;
    width: 500px;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
}
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}
.t{
    text-align: center;
}